body {
    background-color: rgba(211, 211, 211, 0.555);
    font-family: 'Your Custom Font', sans-serif;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.question-container {
    display: block;
}

.question {
    border-bottom: 2px black solid;
    margin: 3px;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 20px;
}

.answer {
    background-color: white;
    border: 1px white solid;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    font-size: large;
    padding: 10px;
    max-width: 100vh;
}



.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.button-group table {
    border-collapse: collapse;
}

.button-group td {
    padding: 1px;
    text-align: center;
    font-size: small;
}

.button-group label {
    margin-bottom: 5px;
}

.button-group button {
    margin: 5px 3px 0;
    background-color: rgb(119, 203, 231);
    border: 1px rgba(0, 0, 0, 0) solid;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}